*{
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-decoration: none;
}

body{height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}

.btn span{
    position: relative;
    z-index: 1;
}
.btn{
    font-size: 2rem;
    background-color: lightcoral;
    padding: 1rem 3rem;
    border-radius: 1rem;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.678);
    position: relative;    overflow: hidden;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50% ,-50%);
    border-radius:50%;
    transition: width .5s,height .5s;
}

.btn:hover::before{
    width: 500px;
    height: 500px;

}